@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}
@media (min-width: 600px) {
  body {
    height: auto;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.button {
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.rounded-btn {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  margin: 0 auto;
  display: block;
}

.section-description {
  color: hsl(257deg, 7%, 63%);
  text-align: center;
  font-size: 1.4rem;
  margin: 1.5rem 0 2rem 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 2rem 0;
  position: relative;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
  flex-grow: 1;
  margin-left: 5rem;
}
@media (min-width: 600px) {
  .header-menu {
    display: flex;
  }
}

@media (min-width: 600px) {
  .header-menu-list li a {
    color: hsl(257deg, 7%, 63%);
    font-weight: bold;
    font-size: clamp(1rem, 1.8vw, 1.5rem);
  }
}

@media (min-width: 600px) {
  .user-area-sign-up-btn {
    background-color: hsl(180deg, 66%, 49%);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
    padding: 0.7rem 1.4rem;
    border-radius: 1.2rem;
    margin-left: clamp(1rem, 2vw, 3rem);
    font-size: clamp(1rem, 1.8vw, 1.5rem);
  }
  .user-area-login-btn {
    color: hsl(257deg, 7%, 63%);
    font-weight: bold;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 1.8vw, 1.5rem);
  }
}

.header-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hamburger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
}
.hamburger-btn img {
  width: 2rem;
  height: 2rem;
}
@media (min-width: 600px) {
  .hamburger-btn {
    display: none;
  }
}

.active-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  position: absolute;
  z-index: 1;
  width: 95%;
  padding: 4rem 2rem;
  border-radius: 1rem;
  background-color: hsl(257deg, 27%, 26%);
  top: 6rem;
  right: 2.5%;
}
.active-menu .header-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-flow: column nowrap;
  gap: 0;
  border-bottom: 1px solid hsl(0deg, 0%, 75%);
}
.active-menu .header-menu-list li {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}
.active-menu .header-menu-list li a {
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
}
.active-menu .user-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
}
.active-menu .user-area button {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
}
.active-menu .user-area-login-btn {
  background-color: transparent;
}
.active-menu .user-area-sign-up-btn {
  background-color: hsl(180deg, 66%, 49%);
  border-radius: 2rem;
}

.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
}
@media (min-width: 600px) {
  .get-started {
    flex-flow: row-reverse nowrap;
    width: 90%;
    margin-right: -10%;
  }
}

.get-started-img {
  width: 100%;
  overflow-x: hidden;
}
.get-started-img img {
  width: 125%;
  transform: translateX(5%);
}

.get-started-text {
  width: 90%;
  margin: 2rem auto 0 auto;
}
.get-started-text h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  line-height: 120%;
}
@media (min-width: 600px) {
  .get-started-text h1 {
    font-size: clamp(3rem, 7vw, 8rem);
    text-align: start;
  }
  .get-started-text p {
    text-align: start;
    font-size: clamp(1.4rem, 2vw, 2rem);
  }
  .get-started-text button {
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 2rem);
    padding: 1.5rem 3rem;
    margin-top: 4rem;
  }
}

.to-shorten-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 90%;
  background-color: hsl(257deg, 27%, 26%);
  background-image: url("../../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 75%;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
}
.to-shorten-links input {
  width: 100%;
  height: 4rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  border-radius: 0.5rem;
}
.to-shorten-links button {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
}
@media (min-width: 1215px) {
  .to-shorten-links {
    flex-flow: column nowrap;
    padding: 4rem;
    width: 80%;
    background-image: url("../../images/bg-shorten-desktop.svg");
    background-size: cover;
  }
  .to-shorten-links input {
    flex-grow: 1;
  }
  .to-shorten-links button {
    width: 20rem;
  }
  .to-shorten-links input, .to-shorten-links button {
    height: 5rem;
    font-size: clamp(1.2rem, 4vw, 1.6rem);
  }
}

.to-shorten-link-commands-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  gap: 1.5rem;
}
@media (min-width: 1215px) {
  .to-shorten-link-commands-area {
    flex-flow: row nowrap;
  }
}

.to-short-link-list {
  width: 100%;
}

.shorted-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  background-color: white;
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 1rem 0;
}
.shorted-link .input-link {
  width: 100%;
  font-size: clamp(1rem, 4vw, 1.8rem);
  word-wrap: break-word;
  font-weight: 500;
  border-bottom: 1px solid hsl(0deg, 0%, 75%);
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 1215px) {
  .shorted-link .input-link {
    border-bottom: none;
    max-width: 50rem;
  }
}
.shorted-link .output-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
  margin-top: 1rem;
}
.shorted-link .output-link span {
  font-size: clamp(1rem, 4vw, 1.8rem);
  color: hsl(180deg, 66%, 49%);
  word-wrap: break-word;
  width: 100%;
  font-weight: 500;
}
@media (min-width: 1215px) {
  .shorted-link .output-link span {
    width: auto;
  }
}
.shorted-link .output-link button {
  background-color: hsl(180deg, 66%, 49%);
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  height: 3.5rem;
  width: 100%;
  font-size: 1.4rem;
}
@media (min-width: 1215px) {
  .shorted-link .output-link button {
    width: 9rem;
    flex-shrink: 0;
  }
}
.shorted-link .output-link .active-link-btn {
  background-color: hsl(257deg, 27%, 26%);
}
@media (min-width: 1215px) {
  .shorted-link .output-link {
    flex-flow: row nowrap;
    width: 35rem;
    margin: 0;
  }
}
@media (min-width: 1215px) {
  .shorted-link {
    flex-flow: row nowrap;
    gap: 2rem;
  }
}

.advanced-statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 4rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 12rem;
  margin-top: -12rem;
  padding-bottom: 4rem;
  background-color: hsla(258deg, 7%, 63%, 0.15);
  position: relative;
  z-index: -1;
}
.advanced-statistics h2 {
  text-align: center;
  font-size: 2.3rem;
}

.advanced-statistics-cards-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 7rem;
  width: 90%;
  margin: 5rem 0;
  position: relative;
}
@media (min-width: 900px) {
  .advanced-statistics-cards-area {
    flex-flow: row nowrap;
  }
  .advanced-statistics-cards-area .advanced-statistics-card:nth-child(1) {
    margin-top: -5rem;
  }
  .advanced-statistics-cards-area .advanced-statistics-card:nth-child(3) {
    margin-bottom: -5rem;
  }
}
@media (min-width: 900px) {
  .advanced-statistics-cards-area {
    width: 80%;
    gap: 5%;
  }
}

.advanced-statistics-visual-detail {
  width: 0.7rem;
  height: 100%;
  background-color: hsl(180deg, 66%, 49%);
  position: absolute;
  z-index: -10;
}
@media (min-width: 900px) {
  .advanced-statistics-visual-detail {
    width: 100%;
    height: 0.7rem;
  }
}

.advanced-statistics-card {
  width: 100%;
  background-color: white;
  border-radius: 0.6rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
}
.advanced-statistics-card img {
  background-color: hsl(257deg, 27%, 26%);
  -webkit-clip-path: circle();
          clip-path: circle();
  width: 6rem;
  padding: 1.5rem;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -3rem;
}
.advanced-statistics-card h3 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
}
.advanced-statistics-card p {
  color: hsl(257deg, 7%, 63%);
  text-align: center;
  font-size: 1.2rem;
  margin: 1.5rem 0;
}
@media (min-width: 900px) {
  .advanced-statistics-card {
    flex-shrink: 0;
    width: 30%;
    max-height: 26rem;
  }
  .advanced-statistics-card img {
    left: -30%;
  }
  .advanced-statistics-card h3 {
    text-align: left;
  }
  .advanced-statistics-card p {
    text-align: left;
  }
}

.boost-links {
  width: 100%;
  background-color: hsl(257deg, 27%, 26%);
  padding: 6rem 0;
  background-image: url("../../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: right;
}
.boost-links h2 {
  color: white;
  font-weight: bold;
  font-size: clamp(1.8rem, 5vw, 4rem);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}
.boost-links button {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  margin-top: clamp(2rem, 4vw, 3rem);
}
@media (min-width: 600px) {
  .boost-links {
    background-image: url("../../images/bg-boost-desktop.svg");
    background-size: cover;
  }
}

footer {
  background-color: hsl(260deg, 8%, 14%);
  position: relative;
  padding: 2rem 4rem 4rem 4rem;
}
@media (min-width: 900px) {
  footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row nowrap;
  }
}

.footer-logo {
  padding-top: 2rem;
}
.footer-logo img {
  display: block;
  margin: 0 auto;
}

.footer-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
}
@media (min-width: 900px) {
  .footer-services {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row nowrap;
  }
}

.service-block {
  width: 20rem;
}
.service-block h4 {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin: 2rem 0;
}
.service-block li {
  text-align: center;
  margin: 1rem 0;
}
.service-block li a {
  color: white;
  font-size: 1.2rem;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}
.footer-social img {
  display: block;
  height: 2rem;
}

.footer-attribuition {
  color: white;
  text-align: center;
  padding-top: 3rem;
}
.footer-attribuition a {
  color: rgb(185, 183, 183);
}
@media (min-width: 600px) {
  .footer-attribuition {
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
  }
}

#main-page-content {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
}/*# sourceMappingURL=main.css.map */