@mixin medium-tablet-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin large-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin flexShortCut($justifyContentValue, $alignItemsValue) {
    display: flex;
    align-items: $alignItemsValue;
    justify-content: $justifyContentValue;
}