* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    @include tablet-landscape-desktop-up {
        height: auto;
    }
}