.advanced-statistics {

    @include flexShortCut(center, center);
    flex-flow: column nowrap;
    gap: 4rem;

    width: 100%;
    margin: 0 auto;
    padding-top: 12rem;
    margin-top: -12rem;
    padding-bottom: 4rem;
    background-color: hsla(258, 7%, 63%, 0.15);
    position: relative;
    z-index: -1;

    h2 {
        text-align: center;
        font-size: 2.3rem;
    }
}

.advanced-statistics-cards-area {
    @include flexShortCut(center, center);
    flex-flow: column nowrap;
    gap: 7rem;
    
    width: 90%;
    margin: 5rem 0;
    position: relative;

    @include large-tablet-landscape-up {
        flex-flow: row nowrap;

        .advanced-statistics-card:nth-child(1) {
            margin-top: -5rem;
        }

        .advanced-statistics-card:nth-child(3) {
            margin-bottom: -5rem;
        }
    }

    @include large-tablet-landscape-up {
        width: 80%;
        gap: 5%;
    }
}

.advanced-statistics-visual-detail {
    width: .7rem;
    height: 100%;
    background-color: $cyan;

    position: absolute;
    z-index: -10;

    @include large-tablet-landscape-up {
        width: 100%;
        height: .7rem;
    }
}

.advanced-statistics-card {
    width: 100%;
    background-color: white;
    border-radius: .6rem;
    padding: 0 2.5rem 2.5rem 2.5rem;

    img {
        background-color: $darkViolet;
        clip-path: circle();

        width: 6rem;
        padding: 1.5rem;
        margin: 0 auto;

        display: block;
        position: relative;
        top: -3rem;
    }

    h3 {
        text-align: center;
        font-size: 1.9rem;
        font-weight: bold;
    }

    p {
        color: $grayishViolet;
        text-align: center;
        font-size: 1.2rem;
        margin: 1.5rem 0;
    }

    @include large-tablet-landscape-up {
        flex-shrink: 0;
        width: 30%;
        max-height: 26rem;

        img {
            left: -30%;
        }

        h3 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }
}