.navigation {

    @include flexShortCut(space-between, center);

    width: 90%;
    margin: 2rem 0;
}

.header-menu {

    @include flexShortCut(space-between, center);

    display: none;
    flex-grow: 1;
    margin-left: 5rem;

    @include medium-tablet-up {
        display: flex;
    }
}

.header-menu-list {
    @include medium-tablet-up {
        li {
            a {
                color: $grayishViolet;
                font-weight: bold;
                font-size: clamp(1rem, 1.8vw ,1.5rem);
            }
        }
    }
}

.user-area {
    @include medium-tablet-up {
        &-sign-up-btn {
            background-color: $cyan;
            font-family: $mainFont;
            font-weight: bold;
            color: white;
            padding: .7rem 1.4rem;
            border-radius: 1.2rem;
            margin-left: clamp(1rem, 2vw, 3rem);
            font-size: clamp(1rem, 1.8vw ,1.5rem);
        }

        &-login-btn {
            color: $grayishViolet;
            font-weight: bold;
            background-color: transparent;
            font-family: $mainFont;
            font-size: clamp(1rem, 1.8vw ,1.5rem);
        }
    }
}

.header-menu-list {
    @include flexShortCut(center, center);
    gap: 2rem;
}

.hamburger-btn {

    @include flexShortCut(center, center);
    
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;

    img {
        width: 2rem;
        height: 2rem;
    }

    @include medium-tablet-up {
        display: none;
    }
}