.to-shorten-links {

    @include flexShortCut(center, center);
    flex-flow: column nowrap;

    width: 90%;
    background-color: $darkViolet;
    background-image: url("../../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 75%;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: .5rem;

    input {
        width: 100%;
        height: 4rem;
        outline: none;
        font-family: $mainFont;
        padding: 1rem;
        border-radius: .5rem;
    }

    button {
        width: 100%;
        height: 4rem;
        border-radius: .5rem;
    }

    @include medium-tablet-up {
        flex-flow: column nowrap;
        padding: 4rem;
        width: 80%;
        background-image: url("../../images/bg-shorten-desktop.svg");
        background-size: cover;

        input {
            flex-grow: 1;
        }

        button {
            width: 20rem;
        }

        input, button {
            height: 5rem;
            font-size: clamp(1.2rem, 2vw ,1.6rem);
        }
    }
}

.to-shorten-link-commands-area {
    @include flexShortCut(center, center);

    width: 100%;
    gap: 1.5rem;

    @include medium-tablet-up {
        flex-flow: row nowrap;
    }
}

.to-short-link-list {
    width: 100%;
}

.shorted-link {

    @include flexShortCut(space-between, center);

    background-color: white;
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    border-radius: .5rem;
    margin-top: 2rem;

    .input-link {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .output-link {

        @include flexShortCut(center, center);
        gap: 2rem;

        span {
            font-size: 1.6rem;
            color: $cyan;
            font-weight: bold;
        }

        button {
            background-color: $cyan;
            font-family: $mainFont;
            color: white;
            font-weight: bold;
            height: 3.5rem;
            width: 9rem;
            font-size: 1.4rem;
        }

        .active-link-btn {
            background-color: $darkViolet;
        }
    }
}